th,
td {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menyButton {
    background-color: grey;
    width: 100px;
    height: 50px;
    font-style: italic;
}


/* Olivia */

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

div {
    overflow: scroll;
  }